.nomal_button{
	width: 60px;
	height: 35px;
	border-radius: 5px;
		border: none;
}
.low_button{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	border: none;
}
.bule_bts{
	background: #40a3ff;
	color: white;
	
}
.blue_bts{
	background: #ebf5ff;
	color: #0084ff;
	font-weight: 600;
}
.nomal_font{
	font-size: 16px;
	font-weight: 300;
	color:#a590a6 ;
	text-decoration: none;
}
.small_font{
	font-size: 12px;
	color:#a590a6 ;
}
.big_button{
	width: 200px;
	height: 60px;
	border-radius:30px;
	border: none;
}
.gray_bts{
	background: #ffffff;
	color: #8590a6;
	font-weight:600;
}
.small_btn{
	width: 40px;
	height: 30px;
	border: none;
	border-radius: 3px;
}
.explore{
	background: #0d76e1;
	color:#ffffff;
	font-size: 700;
}
.white_btn{
	background: #FFFFFF;
	color: #0000ff;
	font-size: 14px;
	font-weight: 800;
}
.icon{
	fill: #0084ff;
}
.middle-title{
	font-size: 16px;
	color:#a590a6;
	font-weight: 600;
}
.avatar{
		width: 20px;
		height: 20px;
	}
	.gray-icon{
		fill:#a4acbc;
	}
	.shadow{
		box-shadow: 0px 0px 2px 0px #aaa;
		/* box-shadow: 2px 5px 10px #aaa; */
	}
.bar_btn{
	width: 100px;
	height: 40px;
	border: 1px solid #0084ff;
	border-radius: 5px;
	font-size: 14px;
	background: #FFFFFF;
	color:#0084ff ;
	display: flex;
	align-items: center;
	justify-content: center;
}